In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Amazon.xlsx')
data.head(1)

,id,asins,brand,categories,colors,dateAdded,dateUpdated,dimension,ean,keys,...,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sizes,upc,weight
0,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I initially had trouble deciding between the p...,"Paperwhite voyage, no regrets!",NaN,NaN,Cristina M,NaN,NaN,205 grams

# 1.Basic Feature Extraction

In [3]:
amazon = data[['reviews.text']]
amazon.head()

                                        reviews.text
0  I initially had trouble deciding between the p...
1  Allow me to preface this with a little history...
2  I am enjoying it so far. Great for reading. Ha...
3  I bought one of the first Paperwhites and have...
4  I have to say upfront - I don't like coroporat...

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
amazon['Number_of_words']= amazon['reviews.text'].apply(lambda x:len(x.split()))
amazon.head(1)

                                        reviews.text  Number_of_words
0  I initially had trouble deciding between the p...              193

In [6]:
amazon['Number_of_characters'] = amazon['reviews.text'].apply(lambda y:len(y))
amazon.head(1)

,reviews.text,Number_of_words,Number_of_characters
0,I initially had trouble deciding between the p...,193,1064

In [7]:
total_characters = amazon['Number_of_characters'].sum()
total_characters

1452090

In [8]:
amazon['Average_word_length'] = amazon['Number_of_characters'].apply(lambda z:z/total_characters)
amazon.head(1)

,reviews.text,Number_of_words,Number_of_characters,Average_word_length
0,I initially had trouble deciding between the p...,193,1064,0.000733

In [9]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
stop

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [10]:
amazon['Number_of_stop_words']=amazon['reviews.text'].apply(lambda word:len([word for word in word.split() if word not in stop]))
amazon.head(1)

,reviews.text,Number_of_words,Number_of_characters,Average_word_length,Number_of_stop_words
0,I initially had trouble deciding between the p...,193,1064,0.000733,103

In [11]:
import string
punctuations = tuple(string.punctuation)
punctuations

('!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~')

In [12]:
count = 0
a = 'aa@#bc'
for i in a:
    if i in string.punctuation:
        count = count+1
print(count)

2

In [13]:
amazon['No_of_Punctuations'] = amazon['reviews.text'].apply(lambda x: len([x for x in x.split() if x in string.punctuation]))
amazon.head(1)

,reviews.text,Number_of_words,Number_of_characters,Average_word_length,Number_of_stop_words,No_of_Punctuations
0,I initially had trouble deciding between the p...,193,1064,0.000733,103,0

In [14]:
amazon['Number_of_numerics'] = amazon['reviews.text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
amazon.head(1)

,reviews.text,Number_of_words,Number_of_characters,Average_word_length,Number_of_stop_words,No_of_Punctuations,Number_of_numerics
0,I initially had trouble deciding between the p...,193,1064,0.000733,103,0,2

In [15]:
amazon['No_of_uppercase_words'] = amazon['reviews.text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
amazon.head(1)

,reviews.text,Number_of_words,Number_of_characters,Average_word_length,Number_of_stop_words,No_of_Punctuations,Number_of_numerics,No_of_uppercase_words
0,I initially had trouble deciding between the p...,193,1064,0.000733,103,0,2,9

# 2.Basic Pre - Processing

In [16]:
# converting to lower case and removing punctuations
amazon['clean_text'] = amazon['reviews.text'].str.lower().str.replace('[^a-z]',' ')
amazon.head(1)

,reviews.text,Number_of_words,Number_of_characters,Average_word_length,Number_of_stop_words,No_of_Punctuations,Number_of_numerics,No_of_uppercase_words,clean_text
0,I initially had trouble deciding between the p...,193,1064,0.000733,103,0,2,9,i initially had trouble deciding between the p...

In [17]:
# remoing stop words
amazon['split_words'] = amazon['reviews.text'].apply(lambda x:' '.join(x for x in x.split() if x not in stop))
amazon.head(1)

,reviews.text,Number_of_words,Number_of_characters,Average_word_length,Number_of_stop_words,No_of_Punctuations,Number_of_numerics,No_of_uppercase_words,clean_text,split_words
0,I initially had trouble deciding between the p...,193,1064,0.000733,103,0,2,9,i initially had trouble deciding between the p...,I initially trouble deciding paperwhite voyage...

In [18]:
# spelling correction
from textblob import TextBlob
#train['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))
#amazon['split_words'].apply(lambda x:TextBlob(x).correct())

In [19]:
#!pip install -U textblob

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

# one gram

In [23]:
count_vect = CountVectorizer(max_df = 0.8,min_df = 0.2,stop_words = 'english')
train_vect = count_vect.fit_transform(amazon['split_words'])
train_vect

<1597x17 sparse matrix of type '<class 'numpy.int64'>'
	with 7287 stored elements in Compressed Sparse Row format>

In [24]:
count_one_gram = pd.DataFrame(train_vect.toarray(),columns = count_vect.get_feature_names())
count_one_gram.head()

,amazon,better,device,easy,good,great,kindle,like,love,new,nice,quality,read,really,sound,time,use
0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,3,1
1,1,0,0,0,0,0,5,0,2,2,0,0,1,0,0,0,1
2,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,2,0,4,1,0,0,0,0,4,0,0,1,1
4,5,0,0,0,0,0,3,7,0,0,0,0,1,1,0,0,2

In [25]:
word_count = pd.DataFrame(count_one_gram.sum())
word_count = word_count.rename(columns = {0:'Word_Count'})
word_count = word_count.sort_values(by = 'Word_Count',ascending = False)
word_count.head()

        Word_Count
amazon        1516
kindle        1514
like          1247
use            951
read           887

# two gram

In [26]:
two_gram = CountVectorizer(max_df = 0.9,min_df = 0.02,ngram_range = (2,2), stop_words = 'english')
two_gram_train_vect = two_gram.fit_transform(amazon['split_words'])
two_gram_train_vect

<1597x379 sparse matrix of type '<class 'numpy.int64'>'
	with 18820 stored elements in Compressed Sparse Row format>

In [27]:
DTM_two_gram = pd.DataFrame(two_gram_train_vect.toarray(),columns = two_gram.get_feature_names())
DTM_two_gram.head()

,100 headphones,15 50,25 lot,30 minutes,50 range,able compare,able hear,access amazon,accurate product,actually sound,...,web browser,wi fi,work magnets,works great,write reviews,year kindle,year model,year tinny,years rarely,years recently
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
count_two_gram = pd.DataFrame(DTM_two_gram.sum())
count_two_gram = count_two_gram.rename(columns = {0:'Word_Count'})
count_two_gram = count_two_gram.sort_values(by = 'Word_Count',ascending = False)
count_two_gram.head()

               Word_Count
kindle hd             239
apple buds            236
amazon prime          187
apple tv              154
sound quality         143

# three gram

In [29]:
three_gram = CountVectorizer(max_df = 0.8, min_df = 0.02,ngram_range = (3,3),stop_words = 'english')
three_gram_vect = three_gram.fit_transform(amazon['split_words'])
three_gram_vect

<1597x281 sparse matrix of type '<class 'numpy.int64'>'
	with 14266 stored elements in Compressed Sparse Row format>

In [30]:
DTM_three_gram = pd.DataFrame(three_gram_vect.toarray(),columns = three_gram.get_feature_names())
DTM_three_gram.head()

,100 headphones designed,15 50 range,25 lot fact,50 range audiophile,able compare higher,able hear going,accurate product ll,actually sound bit,address biggest complaints,allow hang headphones,...,ve read sound,version apple buds,wanted earbud designed,work magnets allow,write reviews felt,write reviews point,year kindle hd,year tinny listening,years rarely write,years recently using
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
count_three_gram = pd.DataFrame(DTM_three_gram.sum())
count_three_gram = count_three_gram.rename(columns = {0:'Word_Count'})
count_three_gram = count_three_gram.sort_values(by = 'Word_Count', ascending = False)
count_three_gram.head()

                         Word_Count
like going fall                 118
magnets tangle free              85
tangle free cord                 73
year kindle hd                   69
musician missing coming          59

In [32]:
count_three_gram['Word_Count'].nlargest(3)

like going fall        118
magnets tangle free     85
tangle free cord        73
Name: Word_Count, dtype: int64

# Tf - Idf Bag of words

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer( ngram_range = (3,3), stop_words = 'english')
tfidf_vect = tfidf.fit_transform(amazon['split_words'])
tfidf_vect

<1597x45929 sparse matrix of type '<class 'numpy.float64'>'
	with 115336 stored elements in Compressed Sparse Row format>

In [34]:
DTM_tfidf_three_gram = pd.DataFrame(tfidf_vect.toarray(),columns = tfidf.get_feature_names())
DTM_tfidf_three_gram.head()

,00 ad free,00 buy refurbished,00 comes ad,00 experience receive,00 price great,00 reserving right,000 apps poor,000 books amazon,000 books long,000 books travel,...,zink happy app,zip code address,zippy awesome display,zombies love came,zoom work great,zooming supported titles,zumi blues clues,Â½you simply speak,Â½Ã¯ Â½you simply,Â½Ã¯ Â½Ã¯ Â½you
0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.095619,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
score_tfidf = pd.DataFrame(DTM_tfidf_three_gram.sum())
score_tfidf = score_tfidf.rename(columns = {0:'Score'})
score_tfidf = score_tfidf.sort_values(by = 'Score', ascending = False)
score_tfidf.head()

                        Score
like going fall      9.815732
magnets tangle free  7.284693
nice set headphones  5.589069
tangle free cord     5.515490
pair able compare    4.907866

# Sentiment Analysis

In [36]:
amazon['reviews.text'][:5].apply(lambda x:TextBlob(x).sentiment)

0    (0.20025879917184267, 0.46035196687370594)
1      (0.15959145021645021, 0.472178416821274)
2     (0.42083333333333334, 0.7333333333333334)
3      (0.1488210227272727, 0.4473579545454546)
4     (0.26708640458640454, 0.5207207207207207)
Name: reviews.text, dtype: object

Above, you can see that it returns a tuple representing polarity and subjectivity of each tweet. 
Here, we only extract polarity as it indicates the sentiment as value nearer to 1 means a positive sentiment 
and values nearer to -1 means a negative sentiment. This can also work as a feature for building a machine learning model.

In [37]:
amazon['Sentiment'] = amazon['reviews.text'].apply(lambda x:TextBlob(x).sentiment[0])
amazon.head(1)

,reviews.text,Number_of_words,Number_of_characters,Average_word_length,Number_of_stop_words,No_of_Punctuations,Number_of_numerics,No_of_uppercase_words,clean_text,split_words,Sentiment
0,I initially had trouble deciding between the p...,193,1064,0.000733,103,0,2,9,i initially had trouble deciding between the p...,I initially trouble deciding paperwhite voyage...,0.200259

In [43]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
senti = SentimentIntensityAnalyzer()

In [49]:
x = senti.polarity_scores('bad!')
x

{'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound': -0.5848}

In [59]:
y = x.setdefault('neg')
y

1.0

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
bag_of_words = CountVectorizer(max_df = 0.8,min_df = 0.02, ngram_range = (2,2))
train_bag_of_words = bag_of_words.fit_transform(amazon['split_words'])
train_bag_of_words

<1597x497 sparse matrix of type '<class 'numpy.int64'>'
	with 25002 stored elements in Compressed Sparse Row format>